In [1]:
import os
import pandas as pd
import seaborn as sns
import pickle
import numpy as np
import statsmodels.api as sm
import matplotlib
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
datapath = r"./data/"
#outputs = "../outputs/"

In [3]:
#df_train = pd.read_csv(os.path.join(datapath,'ESC2013_RMSP_CEM.csv'))
df_train = pd.read_csv(os.path.join(datapath,'RendimentoEscolar2000-2015.csv'), encoding='latin-1')
df_test = pd.read_csv(os.path.join(datapath,'ENEM2015.csv'))

D:\Users\Marcelo\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
schooldata = pd.read_csv(os.path.join(datapath,'DadosEscolares1996-2015.csv'), encoding='latin-1')
schooldata.drop(['DEP', 'NOME', 'SETEDU', 'DISTRITO07', 'SUBPREF', 'CORED', 'ZONA'], axis=1, inplace=True)

D:\Users\Marcelo\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (6,8,11,17,18,19,20,111,240) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

for c in list(df_train.columns):
    if c.endswith('x'):
        print(c)

In [5]:
df_train = df_train.merge(schooldata, left_on='CODMEC', right_on='CODMEC', how="outer")
df_train.rename(columns={'MAIS EDUCAÃ‡ÃƒO':'MAIS EDUCACAO', 'SITUAÃ‡ÃƒO': 'SITUACAO'}, inplace=True)

In [6]:
df_train.head()

,CODMEC,ANO_x,DEP,NOME,SETEDU,DISTRITO07,SUBPREF,CORED,ZONA,EFABAND9ANOS1S,...,TOT_EE,TIPO_EE,EE_Creche,EE_Pre,EE_Fund,EE_Med,EE_EJA,EE_EP,ALEDESP,TOTAL_ALUNOS
0,35053107,2014.0,MUNICIPAL,"MILTOM CAMPOS, SEN.",1105,BRASILANDIA,FREGUESIA/BRASILANDIA,FREGUESIA/BRASILANDIA,NORTE,3.0,...,35.0,ClasseComum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1019
1,35053107,2014.0,MUNICIPAL,"MILTOM CAMPOS, SEN.",1105,BRASILANDIA,FREGUESIA/BRASILANDIA,FREGUESIA/BRASILANDIA,NORTE,3.0,...,36.0,ClasseComum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1359
2,35053107,2014.0,MUNICIPAL,"MILTOM CAMPOS, SEN.",1105,BRASILANDIA,FREGUESIA/BRASILANDIA,FREGUESIA/BRASILANDIA,NORTE,3.0,...,22.0,ClasseComum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1754
3,35053107,2014.0,MUNICIPAL,"MILTOM CAMPOS, SEN.",1105,BRASILANDIA,FREGUESIA/BRASILANDIA,FREGUESIA/BRASILANDIA,NORTE,3.0,...,27.0,ClasseComum,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1576
4,35053107,2014.0,MUNICIPAL,"MILTOM CAMPOS, SEN.",1105,BRASILANDIA,FREGUESIA/BRASILANDIA,FREGUESIA/BRASILANDIA,NORTE,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2137

In [7]:
df_train.tail()

,CODMEC,ANO_x,DEP,NOME,SETEDU,DISTRITO07,SUBPREF,CORED,ZONA,EFABAND9ANOS1S,...,TOT_EE,TIPO_EE,EE_Creche,EE_Pre,EE_Fund,EE_Med,EE_EJA,EE_EP,ALEDESP,TOTAL_ALUNOS
285030,35576840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31
285031,35579713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
285032,35579725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
285033,35579737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
285034,35985788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [8]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 285035 entries, 0 to 285034
Columns: 334 entries, CODMEC to TOTAL_ALUNOS
dtypes: float64(313), int64(3), object(18)
memory usage: 728.5+ MB

In [9]:
df_train.columns

Index(['CODMEC', 'ANO_x', 'DEP', 'NOME', 'SETEDU', 'DISTRITO07', 'SUBPREF',
       'CORED', 'ZONA', 'EFABAND9ANOS1S',
       ...
       'TOT_EE', 'TIPO_EE', 'EE_Creche', 'EE_Pre', 'EE_Fund', 'EE_Med',
       'EE_EJA', 'EE_EP', 'ALEDESP', 'TOTAL_ALUNOS'],
      dtype='object', length=334)

In [10]:
df_train.describe()

,CODMEC,ANO_x,EFABAND9ANOS1S,EFABAND9ANOS2S,EFABAND9ANOS3S,EFABAND9ANOS4S,EFABAND9ANOS5S,EFABAND9ANOS6S,EFABAND9ANOS7S,EFABAND9ANOS8S,...,TOT_EE_PRE,TOT_EE,EE_Creche,EE_Pre,EE_Fund,EE_Med,EE_EJA,EE_EP,ALEDESP,TOTAL_ALUNOS
count,2.850350e+05,244313.000000,244313.000000,244313.000000,244313.000000,244313.000000,244313.000000,244313.000000,244313.000000,244313.000000,...,119257.000000,161005.000000,28586.000000,28662.000000,28842.000000,28589.000000,28593.000000,28605.0,218238.000000,285035.000000
mean,3.515643e+07,2009.738675,0.178013,0.093777,0.083004,0.059718,0.066505,0.073463,0.163700,0.244739,...,0.859321,12.705388,0.006996,0.232817,2.898481,0.018119,0.350750,0.0,0.500082,876.987868
std,1.722687e+05,4.842486,0.699000,0.483953,0.906695,0.362006,0.466235,0.576592,1.044393,1.242607,...,3.592313,19.541370,0.955190,2.382784,23.231857,0.954297,6.612499,0.0,10.791714,683.838889
min,3.500001e+07,2000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
25%,3.505441e+07,2005.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,260.000000
50%,3.509061e+07,2011.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,782.000000
75%,3.522323e+07,2015.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,1306.000000
max,3.599001e+07,2015.000000,12.000000,27.000000,93.000000,14.000000,27.000000,24.000000,38.000000,23.000000,...,384.000000,459.000000,161.000000,81.000000,312.000000,79.000000,200.000000,0.0,459.000000,14274.000000

# checking types

the dataframe has 3 types of data: int, float and object (string)

In [11]:
for cat in df_train.columns:
    if df_train[cat].dtypes != 'int64' and df_train[cat].dtypes != 'float64' and df_train[cat].dtypes != 'object':
        print(df_train[cat].dtypes)

In [12]:
df_train.dtypes[df_train.dtypes.map(lambda x: x=='int64')][:10]

CODMEC          int64
ANO_y           int64
TOTAL_ALUNOS    int64
dtype: object

In [13]:
df_train.dtypes[df_train.dtypes.map(lambda x: x=='float64')][:10]

ANO_x             float64
EFABAND9ANOS1S    float64
EFABAND9ANOS2S    float64
EFABAND9ANOS3S    float64
EFABAND9ANOS4S    float64
EFABAND9ANOS5S    float64
EFABAND9ANOS6S    float64
EFABAND9ANOS7S    float64
EFABAND9ANOS8S    float64
EFABAND9ANOS9S    float64
dtype: object

In [14]:
df_train.dtypes[df_train.dtypes.map(lambda x: x=='object')]

DEP                     object
NOME                    object
SETEDU                  object
DISTRITO07              object
SUBPREF                 object
CORED                   object
ZONA                    object
EJATOTAL,,              object
TIPOESC                 object
DEPADM                  object
MAIS EDUCAÃâ¡ÃÆO    object
MERENDA                 object
DTURNOS - EMEF          object
T2D3D - EMEF            object
DTURNOS-EMEI            object
T2D3D - EMEI            object
TIPOENSEJA              object
TIPO_EE                 object
dtype: object

# checking categorical data

For columns with string data, evaluate how many categories each columns has

remove columns where one-hot-encoding would not be efficient

In [15]:
for cat in df_train.columns:
    if df_train[cat].dtypes == 'object':
        print("Number of levels in category '{0}': \b {1:2.2f} ".format(cat, df_train[cat].unique().size))
        if  df_train[cat].unique().size >= 100: 
            df_train.drop(cat, axis=1, inplace=True)
            print("REMOVED: ", cat)

Number of levels in category 'DEP': 5.00
Number of levels in category 'NOME': 9037.00
REMOVED:  NOME
Number of levels in category 'SETEDU': 830.00
REMOVED:  SETEDU
Number of levels in category 'DISTRITO07': 98.00
Number of levels in category 'SUBPREF': 34.00
Number of levels in category 'CORED': 15.00
Number of levels in category 'ZONA': 6.00
Number of levels in category 'EJATOTAL,,': 584.00
REMOVED:  EJATOTAL,,
Number of levels in category 'TIPOESC': 54.00
Number of levels in category 'DEPADM': 6.00
Number of levels in category 'MAIS EDUCAÃâ¡ÃÆO': 2.00
Number of levels in category 'MERENDA': 3.00
Number of levels in category 'DTURNOS - EMEF': 19.00
Number of levels in category 'T2D3D - EMEF': 4.00
Number of levels in category 'DTURNOS-EMEI': 15.00
Number of levels in category 'T2D3D - EMEI': 4.00
Number of levels in category 'TIPOENSEJA': 4.00
Number of levels in category 'TIPO_EE': 291.00
REMOVED:  TIPO_EE

looking for more possible categorical data

In [16]:
for cat in df_train.columns:
    if df_train[cat].dtypes == 'object': continue
    if df_train[cat].unique().size > 3: continue
    print("Number of levels in category '{0}': \b {1:2.2f} ".format(cat, df_train[cat].unique().size))
    print("    Unique values: \b {}".format(df_train[cat].unique()))

Number of levels in category 'CONCLUINTES_EF': 2.00
    Unique values: [ 0. nan]
Number of levels in category 'SITUAÃâ¡ÃÆO': 3.00
    Unique values: [ 1. nan  2.]
Number of levels in category 'ALEFMU': 2.00
    Unique values: [nan  0.]
Number of levels in category 'ALE9FAC': 2.00
    Unique values: [nan  0.]
Number of levels in category 'EE_Surdo_Cegueira_MED': 3.00
    Unique values: [ 0. nan  1.]
Number of levels in category 'EE_OUT_MED': 2.00
    Unique values: [ 0. nan]
Number of levels in category 'EE_Surdo_Cegueira_CRE': 3.00
    Unique values: [ 0. nan  1.]
Number of levels in category 'EE_SUP_CRE': 3.00
    Unique values: [ 0. nan  1.]
Number of levels in category 'EE_Asperger_EJA': 3.00
    Unique values: [ 0. nan  1.]
Number of levels in category 'EE_Surdo_Cegueira_EP': 3.00
    Unique values: [ 0. nan  1.]
Number of levels in category 'EE_Transtornos_EP': 3.00
    Unique values: [ 0. nan  1.]
Number of levels in category 'EE_Down_EP': 2.00
    Unique values: [ 0. nan]
Number of levels in category 'EE_MUL_EP': 3.00
    Unique values: [ 0. nan  1.]
Number of levels in category 'EE_Asperger_EP': 3.00
    Unique values: [ 0. nan  1.]
Number of levels in category 'EE_Ret_EP': 2.00
    Unique values: [ 0. nan]
Number of levels in category 'EE_TDI_EP': 2.00
    Unique values: [ 0. nan]
Number of levels in category 'EE_CON_EP': 3.00
    Unique values: [ 0. nan  1.]
Number of levels in category 'EE_OUT_EP': 2.00
    Unique values: [ 0. nan]
Number of levels in category 'EE_EP': 2.00
    Unique values: [nan  0.]

We see that those are not categorical data but simply data with too many missing in general.

# Dealing with highly correlated variables
We are going to delete variables with a correlation above some threshold with another variable

In [17]:
def clear_correlated_data(dataset, threshold):
    col_corr = set()
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if (corr_matrix.iloc[i, j] >= abs(threshold)) and (corr_matrix.columns[j] not in col_corr):
                colname = corr_matrix.columns[i]
                col_corr.add(colname)
                if colname in dataset.columns:
                    del dataset[colname]
    return dataset
    #print(dataset)

In [18]:
threshold = 0.8
df_train = clear_correlated_data(df_train, threshold)

In [ ]:
#correlation matrix
corrmatrix = df_train.corr()
f, ax = plt.subplots(figsize=(12, 9))
sns.heatmap(corrmatrix, square=True, center=0) #cmap=BrBG

In [ ]:
df_train.info()

#scatterplot
sns.set()
cols = ['SalePrice', 'OverallQual', 'GrLivArea', 'GarageCars', 'TotalBsmtSF', 'FullBath', 'YearBuilt']
sns.pairplot(df_train[cols], size = 2.5)
plt.show();

# missing data

In [179]:
total = df_train.isnull().sum().sort_values(ascending=False)
percent = (df_train.isnull().sum()/df_train.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['total', 'percent'])
missing_data.head(20)

                        total   percent
EE_Ret_EP              225062  0.789594
EE_TDI_EP              225062  0.789594
EE_Asperger_EP         225060  0.789587
EE_Autismo_EP          225036  0.789503
EE_Surdo_Cegueira_EP   225030  0.789482
EE_Asperger_EJA        224771  0.788573
EE_Ret_MED             224316  0.786977
EE_Asperger_MED        224281  0.786854
EE_TDI_MED             224277  0.786840
EE_Ret_CRE             223929  0.785619
EE_Asperger_CRE        223885  0.785465
EE_Surdo_Cegueira_MED  223873  0.785423
EE_TDI_CRE             223863  0.785388
EE_Autismo_MED         223858  0.785370
EE_Autismo_CRE         223588  0.784423
EE_Ret_PRE             222036  0.778978
EE_Asperger_PRE        221943  0.778652
EE_TDI_PRE             221882  0.778438
EE_Ret_EJA             221542  0.777245
EE_Autismo_EJA         221443  0.776898

removing variables if missing data > 80%

In [175]:
df_train.drop((missing_data[missing_data['percent'] > 0.8]).index,1, inplace=True)

df_train = bak

In [180]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 285035 entries, 0 to 285034
Columns: 212 entries, CODMEC to EE_OUT_PRE
dtypes: float64(200), int64(2), object(10)
memory usage: 463.2+ MB

#bivariate analysis saleprice/grlivarea
var = 'GrLivArea'
data = pd.concat([df_train['SalePrice'], df_train[var]], axis=1)
data.plot.scatter(x=var, y='SalePrice', ylim=(0,800000));

In [187]:
len(df_test)

1243

In [186]:
test_minus_train_set = set(df_test['CODIGO DA ENTIDADE']) - set(df_train['CODMEC'])
len(test_minus_train_set)

550

{35119118,
 35151889,
 35102751,
 35430432,
 35151907,
 35299364,
 35135525,
 35446836,
 35135549,
 35135550,
 35004479,
 35102787,
 35307592,
 35135562,
 35102799,
 35913807,
 35102805,
 35119192,
 35004510,
 35135586,
 35307622,
 35913832,
 35119210,
 35102829,
 35463279,
 35119222,
 35004546,
 35176588,
 35176597,
 35119261,
 35250348,
 35004625,
 35446993,
 35070178,
 35438820,
 35135720,
 35037448,
 35119374,
 35807503,
 35168531,
 35143959,
 35176734,
 35168543,
 35004704,
 35299625,
 35184949,
 35004736,
 35152195,
 35324255,
 35144034,
 35299686,
 35168622,
 35004790,
 35807618,
 35004807,
 35103123,
 35119507,
 35168671,
 35004832,
 35119520,
 35185061,
 35144125,
 35160519,
 35144150,
 35406296,
 35119581,
 35119593,
 35439083,
 35144186,
 35119611,
 35037692,
 35054082,
 35144204,
 35037710,
 35103248,
 35004947,
 35144216,
 35103263,
 35144228,
 35103275,
 35119659,
 35119660,
 35324462,
 35144241,
 35004984,
 35168828,
 35119684,
 35807825,
 35005010,
 35168853,
 35103330,
 35103342,
 35439216,
 35144307,
 35046012,
 35152511,
 35005061,
 35046024,
 35152523,
 35299984,
 35218085,
 35103408,
 35144373,
 35127991,
 35160763,
 35103421,
 35218112,
 35103433,
 35103445,
 35480289,
 35185383,
 35005162,
 35365622,
 35103494,
 35144459,
 35005204,
 35103512,
 35185437,
 35005216,
 35103524,
 35185449,
 35005228,
 35128120,
 35103548,
 35439447,
 35152729,
 35136359,
 35005289,
 35119982,
 35152754,
 35906426,
 35005307,
 35906438,
 35128200,
 35136396,
 35120017,
 35152785,
 35120029,
 35120030,
 35906463,
 35046309,
 35005356,
 35161007,
 35038131,
 35005368,
 35136463,
 35103697,
 35808210,
 35038167,
 35005400,
 35103718,
 35922924,
 35906542,
 35005435,
 35046401,
 35152900,
 35292175,
 35144721,
 35800089,
 35439642,
 35800090,
 35144733,
 35103780,
 35144745,
 35914794,
 35005484,
 35136566,
 35005502,
 35144770,
 35038295,
 35103834,
 35185760,
 35005548,
 35906669,
 35480691,
 35046516,
 35103861,
 35144824,
 35800193,
 35161238,
 35120285,
 35153084,
 35005629,
 35005630,
 35038398,
 35161287,
 35005642,
 35120339,
 35161299,
 35153114,
 35194074,
 35038428,
 35161317,
 35038453,
 35136759,
 35144952,
 35448060,
 35153163,
 35120406,
 35153187,
 35923254,
 35038519,
 35161412,
 35284348,
 35120509,
 35153278,
 35005824,
 35153285,
 35923333,
 35005836,
 35136918,
 35276182,
 35136931,
 35440036,
 35923369,
 35136943,
 35481014,
 35038647,
 35104206,
 35005915,
 35448285,
 35923448,
 35923461,
 35481105,
 35137042,
 35923473,
 35399197,
 35005988,
 35063332,
 35137066,
 35137078,
 35137085,
 35006026,
 35104334,
 35137108,
 35153497,
 35169882,
 35153503,
 35137133,
 35907182,
 35006063,
 35907194,
 35137157,
 35006099,
 35153564,
 35006117,
 35440310,
 35104449,
 35006166,
 35456731,
 35153631,
 35153643,
 35006208,
 35407641,
 35153692,
 35161895,
 35006257,
 35120947,
 35161913,
 35923795,
 35161949,
 35161950,
 35104607,
 35153771,
 35104620,
 35374957,
 35137397,
 35104644,
 35153801,
 35137418,
 35800971,
 35301279,
 35809184,
 35153825,
 35006373,
 35923886,
 35006385,
 35071936,
 35923904,
 35268562,
 35481555,
 35006427,
 35915749,
 35915750,
 35923941,
 35268586,
 35440620,
 35809287,
 35186697,
 35006476,
 35809305,
 35325983,
 35153953,
 35162152,
 35907637,
 35039299,
 35153989,
 35924039,
 35006555,
 35170409,
 35104875,
 35137650,
 35104887,
 35195005,
 35006592,
 35162243,
 35006609,
 35006610,
 35104917,
 35170458,
 35137716,
 35006646,
 35104985,
 35137753,
 35104991,
 35006695,
 35809512,
 35006713,
 35105028,
 35105036,
 35006737,
 35105041,
 35809559,
 35105053,
 35154210,
 35105065,
 35105077,
 35039548,
 35440966,
 35170636,
 35154283,
 35801458,
 35006836,
 35809676,
 35121551,
 35809688,
 35137947,
 35154337,
 35080615,
 35137960,
 35924398,
 35137972,
 35809724,
 35006920,
 35138009,
 35187185,
 35990012,
 35006981,
 35154441,
 35105302,
 35105314,
 35072552,
 35007031,
 35121721,
 35809883,
 35105429,
 35138198,
 35007134,
 35170975,
 35138216,
 35007161,
 35162826,
 35138253,
 35048148,
 35138265,
 35007195,
 35900148,
 35900151,
 35154684,
 35908373,
 35121952,
 35105569,
 35367734,
 35105600,
 35007298,
 35187537,
 35154775,
 35130205,
 35105648,
 35171189,
 35179383,
 35154817,
 35130254,
 35449748,
 35154854,
 35007407,
 35810228,
 35802050,
 35908551,
 35154908,
 35048422,
 35908587,
 35130369,
 35810307,
 35007493,
 35007500,
 35138575,
 35105824,
 35810344,
 35007560,
 35155019,
 35368015,
 35007584,
 35007596,
 35105910,
 35908745,
 35908757,
 35007638,
 35171487,
 35007648,
 35155111,
 35105961,
 35130540,
 35105971,
 35163326,
 35163338,
 35917011,
 35908836,
 35810538,
 35007729,
 35802360,
 35155196,
 35908861,
 35810575,
 35409169,
 35482912,
 35040548,
 35065134,
 35810617,
 35155263,
 35179848,
 35155287,
 35155299,
 35106148,
 35179887,
 35433846,
 35433858,
 35433861,
 35130758,
 35007882,
 35138988,
 35040708,
 35007948,
 35802578,
 35007959,
 35810794,
 35139051,
 35368441,
 35040769,
 35040770,
 35139099,
 35130916,
 35130928,
 35335733,
 35139129,
 35008059,
 35106367,
 35139142,
 35008096,
 35925603,
 35139191,
 35008126,
 35049086,
 35925639,
 35139208,
 35008148,
 35139221,
 35008151,
 35131039,
 35139233,
 35106471,
 35008175,
 35131064,
 35139270,
 35917515,
 35802839,
 35417865,
 35008266,
 35122956,
 35008285,
 35295012,
 35008308,
 35106616,
 35106628,
 35925834,
 35000139,
 35000140,
 35041099,
 35106636,
 35008357,
 35925871,
 35106677,
 35008382,
 35106690,
 35139497,
 35164082,
 35008436,
 35106756,
 35000267,
 35106768,
 35000280,
 35008473,
 35106781,
 35106800,
 35008497,
 35450868,
 35106811,
 35139580,
 35000334,
 35139609,
 35139610,
 35008540,
 35139622,
 35008564,
 35450935,
 35811385,
 35139646,
 35008576,
 35106884,
 35106896,
 35000413,
 35131490,
 35188840,
 35106926,
 35131507,
 35197048,
 35803259,
 35008643,
 35434632,
 35172492,
 35008655,
 35811476,
 35008667,
 35172509,
 35000486,
 35106999,
 35139774,
 35008709,
 35049669,
 35008722,
 35139804,
 35131623,
 35000553,
 35107049,
 35107050,
 35008758,
 35156231,
 35369226,
 35131660,
 35008801,
 35115307,
 35000620,
 35107116,
 35107128,
 35008825,
 35008837,
 35107153,
 35197269,
 35131738,
 35123547,
 35000668,
 35107165,
 35000673,
 35123560,
 35107177,
 35008874,
 35107189,
 35008886,
 35107190,
 35901830,
 35000711,
 35107219,
 35131805,
 35140004,
 35008936,
 35008941,
 35197397,
 35172856,
 35901945,
 35107335,
 35467789,
 35009039,
 35000848,
 35451411,
 35287581,
 35140132,
 35131945,
 35000875,
 35140144,
 35287600,
 35910193,
 35910200,
 35164732,
 35156541,
 35009088,
 35902020,
 35000905,
 35107402,
 35910223,
 35902032,
 35009106,
 35000917,
 35107414,
 35140181,
 35156565,
 35000929,
 35000930,
 35140200,
 35009131,
 35000942,
 35107438,
 35304049,
 35910259,
 35000954,
 35115642,
 35132044,
 35000978,
 35107475,
 35132056,
 35009180,
 35107487,
 35107499,
 35041973,
 35009210,
 35107517,
 35812031,
 35189443,
 35803844,
 35107529,
 35001036,
 35042006,
 35107542,
 35140314,
 35132123,
 35107554,
 35140326,
 35009261,
 35042031,
 35140338,
 35140348,
 35140351,
 35132160,
 35009283,
 35296004,
 35107591,
 35140363,
 35009295,
 35296016,
 35042067,
 35107608,
 35173150,
 35009325,
 35107633,
 35132214,
 35173174,
 35009337,
 35107645,
 35173186,
 35918659,
 35001156,
 35009350,
 35132238,
 35902287,
 35001168,
 35107682,
 35107700,
 35009404,
 35132287,
 35009416,
 35107736,
 35902366,
 35001247,
 35009441,
 35132329,
 35165098,
 35001259,
 35009453,
 35910582,
 35009465,
 35001284,
 35009477,
 35124175,
 35918805,
 35107803,
 35124199,
 35001363,
 35001375,
 35009573,
 35009581,
 35165232,
 35468344,
 35107906,
 35124291,
 35443785,
 35107924,
 35165268,
 35443803,
 35910764,
 35468400,
 35165311,
 35165323,
 35157132,
 35132559,
 35165335,
 35910818,
 35165347,
 35165359,
 35124400,
 35140788,
 35140806,
 35919056,
 35124436,
 35108054,
 35009751,
 35140824,
 35140831,
 35124448,
 35001569,
 35108066,
 35124459,
 35108078,
 35001594,
 35001600,
 35108112,
 35140880,
 35124503,
 35001624,
 35009817,
 35173666,
 35124515,
 35001636,
 35435818,
 35108145,
 35173685,
 35001661,
 35009854,
 35140934,
 35173708,
 35173712,
 35001685,
 35108182,
 35124576,
 35108194,
 35001703,
 35108200,
 35304815,
 35100024,
 35444091,
 35124606,
 35100031,
 35124618,
 35100043,
 35001740,
 35902861,
 35009957,
 35100080,
 35165621,
 35419576,
 35009982,
 35419588,
 35001797,
 35902925,
 35108303,
 35108315,
 35001824,
 35010017,
 35345891,
 35124709,
 35157478,
 35165670,
 35010030,
 35108339,
 35288573,
 35001855,
 35108352,
 35100161,
 35100171,
 35108364,
 35100183,
 35001880,
 35419679,
 35141159,
 35010091,
 35108397,
 35812912,
 35100213,
 35132986,
 35124795,
 35108418,
 35010121,
 35010133,
 35001946,
 35108443,
 35010145,
 35001958,
 35108455,
 35124849,
 35001971,
 35108467,
 35141240,
 35124862,
 35100298,
 35051147,
 35100304,
 35141264,
 35002008,
 35108509,
 35108510,
 35100328,
 35141297,
 35133115,
 35100353,
 35174087,
 35010248,
 35002057,
 35100365,
 35108561,
 35010259,
 35141331,
 35010261,
 35108571,
 35133152,
 35108583,
 35010285,
 35141367,
 35133176,
 35010297,
 35108601,
 35100420,
 35108613,
 35165967,
 35100432,
 35108625,
 35100444,
 35108637,
 35174178,
 35002148,
 35108649,
 35010352,
 35100468,
 35100473,
 35002173,
 35141446,
 35370824,
 35002185,
 35100493,
 35370836,
 35002197,
 35002203,
 35010397,
 35141483,
 35141495,
 35157879,
 35805048,
 35141501,
 35108736,
 35100547,
 35108741,
 35805063,
 35002252,
 35002264,
 35133346,
 35108777,
 35010479,
 35125179,
 35010492,
 35010510,
 35133395,
 35108820,
 35133401,
 35108832,
 35010534,
 35108844,
 35198959,
 35100663,
 35108856,
 35313661,
 35010561,
 35108868,
 35108873,
 35133450,
 35010571,
 35133462,
 35002422,
 35141689,
 35100730,
 35108923,
 35133498,
 35002434,
 35010637,
 35010650,
 35002461,
 35108959,
 35125349,
 35133541,
 35108972,
 35100785,
 35133565,
 35010686,
 35108996,
 35100808,
 35141768,
 35141773,
 35002513,
 35109010,
 35125398,
 35010716,
 35109022,
 35395754,
 35141811,
 35002549,
 35109046,
 35158197,
 35166397,
 35002562,
 35109061,
 35166406,
 35100900,
 35010789,
 35109101,
 35100912,
 35805440,
 35297537,
 35002628,
 35035403,
 35002636,
 35805452,
 35002641,
 35133723,
 35133735,
 35109162,
 35158318,
 35010873,
 35109198,
 35150162,
 35002707,
 35101011,
 35158367,
 35330401,
 35109228,
 35150198,
 35101047,
 35142013,
 35035518,
 35805567,
 35010947,
 35125635,
 35477904,
 35150228,
 35010984,
 35101096,
 35109289,
 35150253,
 35150265,
 35002811,
 35109307,
 35191243,
 35150289,
 35158483,
 35207639,
 35011034,
 35101148,
 35805661,
 35125726,
 35002847,
 35101151,
 35035622,
 35002859,
 35002860,
 35191279,
 35363315,
 35805683,
 35133942,
 35101175,
 35207676,
 35158525,
 35109381,
 35805701,
 35150344,
 35174920,
 35109393,
 35158549,
 35002902,
 35011095,
 35109400,
 35158550,
 35002914,
 35109411,
 35150373,
 35256869,
 35125799,
 35428905,
 35813936,
 35125817,
 35109435,
 35428929,
 35207755,
 35035725,
 35101266,
 35101278,
 ...}

In [183]:
df_test

      CODIGO DA ENTIDADE  NUMERO DE PARTICIPANTES  Classificacao
0               35000139                      142              1
1               35000140                       79              1
2               35000267                      131              2
3               35000280                      146              1
4               35000334                       95              1
...                  ...                      ...            ...
1238            35925603                       81              2
1239            35925639                       98              2
1240            35925834                       64              1
1241            35925871                      134              2
1242            35990012                      122              3

[1243 rows x 3 columns]

# pipeline

In [ ]:
# Import necessary modules
from sklearn.preprocessing import Imputer
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC
from sklearn.metrics import classification_report

# Setup the pipeline steps: steps
steps = [('imputation', Imputer(missing_values='NaN', strategy='most_frequent', axis=0)),
        ('SVM', SVC())]

# Create the pipeline: pipeline
pipeline = Pipeline(steps)

# Create training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Fit the pipeline to the train set
pipeline.fit(X_train, y_train)

# Predict the labels of the test set
y_pred = pipeline.predict(X_test)

# Compute metrics
print(classification_report(y_test, y_pred))

In [ ]:
# Import the necessary modules
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

# Setup the pipeline steps: steps
steps = [('scaler', StandardScaler()),
        ('knn', KNeighborsClassifier())]
        
# Create the pipeline: pipeline
pipeline = Pipeline(steps)

# Create train and test sets
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=42)

# Fit the pipeline to the training set: knn_scaled
knn_scaled = pipeline.fit(X_train, y_train)

# Instantiate and fit a k-NN classifier to the unscaled data
knn_unscaled = KNeighborsClassifier().fit(X_train, y_train)

# Compute and print metrics
print('Accuracy with Scaling: {}'.format(knn_scaled.score(X_test, y_test)))
print('Accuracy without Scaling: {}'.format(knn_unscaled.score(X_test, y_test)))

In [ ]:
# Setup the pipeline
steps = [('scaler', StandardScaler()),
         ('SVM', SVC())]

pipeline = Pipeline(steps)

# Specify the hyperparameter space
parameters = {'SVM__C':[1, 10, 100],
              'SVM__gamma':[0.1, 0.01]}

# Create train and test sets
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=21)

# Instantiate the GridSearchCV object: cv
cv = GridSearchCV(pipeline,parameters)

# Fit to the training set
cv.fit(X_train, y_train)

# Predict the labels of the test set: y_pred
y_pred = cv.predict(X_test)

# Compute and print metrics
print("Accuracy: {}".format(cv.score(X_test, y_test)))
print(classification_report(y_test, y_pred))
print("Tuned Model Parameters: {}".format(cv.best_params_))

In [ ]:
# Setup the pipeline steps: steps
steps = [('imputation', Imputer(missing_values='NaN', strategy='mean', axis=0)),
         ('scaler', StandardScaler()),
         ('elasticnet', ElasticNet())]
         
# Create the pipeline: pipeline
pipeline = Pipeline(steps)

# Specify the hyperparameter space
parameters = {'elasticnet__l1_ratio':np.linspace(0,1,30)}

# Create train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

# Create the GridSearchCV object: gm_cv
gm_cv = GridSearchCV(pipeline, parameters)

# Fit to the training set
gm_cv.fit(X_train, y_train)

# Compute and print the metrics
r2 = gm_cv.score(X_test, y_test)
print("Tuned ElasticNet Alpha: {}".format(gm_cv.best_params_))
print("Tuned ElasticNet R squared: {}".format(r2))

# PIMA indians

In [ ]:
# Import necessary modules
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

# Create the hyperparameter grid
c_space = np.logspace(-5, 8, 15)
param_grid = {'C': c_space, 'penalty': ['l1', 'l2']}

# Instantiate the logistic regression classifier: logreg
logreg = LogisticRegression()

# Create train and test sets
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.4, random_state=42)

# Instantiate the GridSearchCV object: logreg_cv
logreg_cv = GridSearchCV(logreg, param_grid, cv=5)

# Fit it to the training data
logreg_cv.fit(X_train, y_train)

# Print the optimal parameters and best score
print("Tuned Logistic Regression Parameter: {}".format(logreg_cv.best_params_))
print("Tuned Logistic Regression Accuracy: {}".format(logreg_cv.best_score_))

# lasso

In [ ]:
# Import Lasso
from sklearn.linear_model import Lasso

# Instantiate a lasso regressor: lasso
lasso = Lasso(alpha=0.4, normalize=True)

# Fit the regressor to the data
lasso.fit(X, y)

# Compute and print the coefficients
lasso_coef = lasso.coef_ 
print(lasso_coef)

# Plot the coefficients
plt.plot(range(len(lasso_coef)), lasso_coef)
plt.xticks(range(len(X)), ['var 0','var 1','var 2'], rotation=60)
plt.margins(0.02)
plt.show()